<html>
<head>
    <title><%= pageTitle %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" />
    <!--<link rel="icon" type="image/png" href="images/icon.png"/>-->
</head>
<body>
<div class="wrapper">
    <div>
        <p>Powered by E3OTS</p>
    </div>
</div>
</body>
</html>
